.title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  letter-spacing: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  text-align: center;
  top: 60%;
  left: 78%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 300px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.order-details {
  margin-top: 50px;
}

.order-details h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
